{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
{# Navbar #}
<nav class="border-gray-200 dark:bg-gray-900 flex ">
  <div class="flex items-start justify-start p-4 w-full">
    <a href="{{path('home')}}" class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 ">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 01-2.25 2.25M16.5 7.5V18a2.25 2.25 0 002.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 002.25 2.25h13.5M6 7.5h3v3H6v-3z" />
        </svg>
        <span class="text-2xl font-semibold  dark:text-white p-2">News Portal</span>
    </a>
    </div>
    <div class='flex justify-end items-end w-full'  id="navbar-default">
      {% if not is_granted('ROLE_USER') %}
      <ul class="font-medium text-xl flex flex-col p-4 md:p-0 mt-1 bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="{{path('app_login')}}" class="no-underline block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" aria-current="page">Sign in</a>
        </li>
        <li>
          <a href="{{path('app_register')}}" class="no-underline block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Sign up</a>
        </li>
      </ul>
      {% endif %}
      {% if is_granted('ROLE_USER') %}
          <ul class="font-medium text-xl flex flex-col p-4 md:p-0 mt-1 bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
           <li>
          <a href="" class="no-underline block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Profile</a>
        </li>
          <a href="{{path('app_logout')}}" class="no-underline block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Logout</a>
        </li>
      </ul>
      {% endif %}
    </div>
</nav>
{# Navbar end #}

{# side navbar #}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-gray-900">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li>
                        <a href="{{path('home')}}" class="nav-link px-0 align-middle">
                          <span class="ms-1 d-none d-sm-inline transition ease-in duration-150 text-white hover:border hover:p-2 rounded-lg">All news</span></a>
                    </li>
                    {% for c in category %}
                    <li>
                        <a href="{{path('home_category', {id: c.id})}}" class="nav-link px-0 align-middle">
                          <span class="ms-1 d-none d-sm-inline transition ease-in duration-150 text-white hover:border hover:p-2 rounded-lg">{{c}}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {# content #}
        <div class="col py-3">
            {% for n in news|reverse %}
            <div class='flex justify-center m-10'>
            <div class="card" style="width: 40vw;">
            <img src='{{'/news-portal/public/uploads/' ~ n.thumbnail}}' class="card-img-top" alt="thumbnail">
            <div class="card-body">
              <h5 class="card-title">{{n.title}}</h5>
              <p class="card-text">{{n.content|slice(0,155)}}...</p>
              <a href="{{path('news.show', {id: n.id})}}" class="btn btn-primary">Czytaj dalej</a>
            </div>
            <div class="card-footer text-body-secondary">
              {{n.createdate.format('d/m/Y')}}, {{n.category}}
            </div>
          </div>
          </div>
          {% endfor %}
        </div>
    </div>
</div>
  {# sidenavbar ends #}
{% endblock %}
